/* GLOBAL - configuração do tamanho da font */
@media (max-width:1366px) {
  html {
    font-size: 93.75%;
  }
}


.default-theme {
  height: 400px;
}

/* Scrollbar para o modo claro */
::-webkit-scrollbar {
  width: 5px;
  height: 4px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: gray;
  border-radius: 10px;
  cursor: move;

}

/* Scrollbar para o modo escuro */
.dark ::-webkit-scrollbar-track {
  background: #1a1a1a;
}

.dark ::-webkit-scrollbar-thumb {
  background: black;
}










